name: DevOps

on:
  workflow_dispatch:
  push:
    paths:
      - "**/*"
      - "!.github/**" # Important: Exclude PRs related to .github from auto-run
      - "!.github/workflows/**" # Important: Exclude PRs related to .github/workflows from auto-run
      - "!.github/actions/**" # Important: Exclude PRs related to .github/actions from auto-run
  pull_request:
    branches: ["main"]
    paths:
      - "**/*"
      - "!.github/**" # Important: Exclude PRs related to .github from auto-run
      - "!.github/workflows/**" # Important: Exclude PRs related to .github/workflows from auto-run
      - "!.github/actions/**" # Important: Exclude PRs related to .github/actions from auto-run

permissions:
  contents: read

jobs:
  check_paths:
    uses: ./.github/workflows/check_paths.yml

  spell_check:
    needs: check_paths
    if: needs.check_paths.outputs.githubfolder != 'true' || github.event_name == 'schedule'
    uses: ./.github/workflows/spell_check.yml

  python_linting_quick:
    needs:
      - check_paths
      - spell_check
    uses: ./.github/workflows/python_linting_quick.yml

  ensure_linting:
    needs:
      - check_paths
      - spell_check
      - python_linting_quick
    if: needs.check_paths.outputs.githubfolder != 'true' || github.event_name == 'schedule'
    uses: ./.github/workflows/ensure_linting.yml
