name: Python Linting

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"
    paths:
      - "**/*"
      - "!.github/**" # Important: Exclude PRs related to .github from auto-run
      - "!.github/workflows/**" # Important: Exclude PRs related to .github/workflows from auto-run
      - "!.github/actions/**" # Important: Exclude PRs related to .github/actions from auto-ru

permissions:
  contents: read

jobs:
  check_paths:
    uses: ./.github/workflows/check_paths.yml

  lint:
    needs: check_paths
    if: needs.check_paths.outputs.githubfolder != 'true' || github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 #v6.1.0
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv pip install . --system
      - name: Lint with Ruff
        run: |
          uvx ruff check
      - name: Format with Ruff
        run: |
          uvx ruff format
